/* base styles, feel free to edit */
html, body {
    margin: 0.5rem;
    padding: 0.1rem;
    height: 100%;
    font-family: Arial;
}

nav {
    margin-bottom: 0.5rem;
}

h1 {
    text-align: center;
}
.hide {
    display: none;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item {
    padding: 0.1rem;
}