/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
}

.hide {
    display: none;
}

.nav-item:hover {
    cursor: pointer;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
